frameworkVersion: '1.78.1'
service: ranty-ebased-training

plugins:
  - serverless-iam-roles-per-function
  - serverless-offline
  - serverless-dynamodb-local

provider:
  name: aws
  runtime: nodejs14.x
  stage: ${opt:stage, 'dev'}
  region: ${opt:region, 'us-east-1'}

custom:
  environment:
    CLIENTS_TABLE_NAME: ${self:service}-${self:provider.stage}-client-table
    PURCHASES_TABLE_NAME: ${self:service}-${self:provider.stage}-purchase-table
  # only for local environment to use the dynamoDB plugin
  # dynamodb:
  #   stages:
  #     - dev
  #   start:
  #     migrate: true
  #     seed: false
  #   seed:
  #     clientTable:
  #       sources:
  #         - table: ${self:custom.environment.CLIENTS_TABLE_NAME}
  #           sources: [./dynamo-seeds/clients.seeds.json]

package:
  exclude:
    - .eslintrc.js
    - .prettierrc.json
    - .gitignore
    - .npmignore
    - .package-lock.json
    - node_modules/aws_sdk/**
    - .vscode/*
    - .github/*
    - dynamo-seeds/*

functions:
  - ${file(src/client/index.yml)}
  - ${file(src/card/index.yml)}
  - ${file(src/gift/index.yml)}
  - ${file(src/purchase/index.yml)}

resources:
  - ${file(resource/client/table.yml)}
  - ${file(resource/client/topic.yml)}
  - ${file(resource/client/queue.yml)}
  - ${file(resource/client/policy.yml)}
  - ${file(resource/card/queue.yml)}
  - ${file(resource/card/policy.yml)}
  - ${file(resource/gift/queue.yml)}
  - ${file(resource/gift/policy.yml)}
  - ${file(resource/purchase/table.yml)}
