frameworkVersion: '1.78.1'
service: ranty-ebased-training

plugins:
  - serverless-iam-roles-per-function
  - serverless-offline
  - serverless-dynamodb-local

provider:
  name: aws
  runtime: nodejs14.x
  stage: ${opt:stage, 'dev'}
  region: ${opt:region, 'us-east-1'}

custom:
  environment:
    CLIENTS_TABLE_NAME: ${self:service}-${self:provider.stage}-client-table
  # only for local environment to use the dynamoDB plugin
  # dynamodb:
  #   stages:
  #     - dev
  #   start:
  #     migrate: true
  #     seed: false
  #   seed:
  #     clientTable:
  #       sources:
  #         - table: ${self:custom.environment.CLIENTS_TABLE_NAME}
  #           sources: [./dynamo-seeds/clients.seeds.json]

package:
  exclude:
    - .gitignore
    - .npmignore
    - .package-lock.json
    - node_modules/aws_sdk/**
    - .vscode/*
    - .github/*
    - dynamo-seeds/*

functions:
  CreateClient:
    handler: src/client/handler/create-client.handler
    name: ${self:service}-${self:provider.stage}-create-client-function
    events:
      - http:
          path: /client
          method: post
          cors: true
    environment:
      CLIENTS_TABLE: ${self:custom.environment.CLIENTS_TABLE_NAME}
      CLIENTS_CREATED_TOPIC: !Ref ClientCreatedTopic
    iamRoleStatementsInherit: true
    iamRoleStatements:
      - Effect: Allow
        Action:
          - sns:Publish
        Resource:
          - !Ref ClientCreatedTopic
      - Effect: Allow
        Action:
          - dynamodb:PutItem
        Resource:
          - !GetAtt ClientsTable.Arn
  GetAllClients:
    handler: src/client/handler/getAll-clients.handler
    name: ${self:service}-${self:provider.stage}-getAll-clients-function
    events:
      - http:
          path: /client
          method: get
          cors: true
    environment:
      CLIENTS_TABLE: ${self:custom.environment.CLIENTS_TABLE_NAME}
    iamRoleStatementsInherit: true
    iamRoleStatements:
      - Effect: Allow
        Action:
          - dynamodb:Scan
        Resource:
          - !GetAtt ClientsTable.Arn
  DeleteClient:
    handler: src/client/handler/delete-client.handler
    name: ${self:service}-${self:provider.stage}-delete-client-function
    events:
      - http:
          path: /client/{dni}/inactivate
          method: delete
          cors: true
          request:
            parameters:
              dni:
                id: true
    environment:
      CLIENTS_TABLE: ${self:custom.environment.CLIENTS_TABLE_NAME}
    iamRoleStatementsInherit: true
    iamRoleStatements:
      - Effect: Allow
        Action:
          - dynamodb:UpdateItem
        Resource:
          - !GetAtt ClientsTable.Arn
  UpdateClient:
    handler: src/client/handler/update-client.handler
    name: ${self:service}-${self:provider.stage}-update-client-function
    events:
      - http:
          path: /client/{dni}
          method: put
          cors: true
          request:
            parameters:
              dni:
                id: true
    environment:
      CLIENTS_TABLE: ${self:custom.environment.CLIENTS_TABLE_NAME}
      CLIENTS_UPDATED_TOPIC: !Ref ClientUpdatedTopic
    iamRoleStatementsInherit: true
    iamRoleStatements:
      - Effect: Allow
        Action:
          - dynamodb:UpdateItem
        Resource:
          - !GetAtt ClientsTable.Arn
      - Effect: Allow
        Action:
          - sns:Publish
        Resource:
          - !Ref ClientUpdatedTopic
  GetByIdClient:
    handler: src/client/handler/getById-client.handler
    name: ${self:service}-${self:provider.stage}-getById-client-function
    events:
      - http:
          path: /client/{dni}
          method: get
          cors: true
          request:
            parameters:
              dni:
                id: true
    environment:
      CLIENTS_TABLE: ${self:custom.environment.CLIENTS_TABLE_NAME}
    iamRoleStatementsInherit: true
    iamRoleStatements:
      - Effect: Allow
        Action:
          - dynamodb:Query
        Resource:
          - !GetAtt ClientsTable.Arn
  CreateCard:
    handler: src/card/handler/create-card.handler
    name: ${self:service}-${self:provider.stage}-create-card-function
    events:
      - sqs:
          arn: !GetAtt CreateCardQueue.Arn
    environment:
      CLIENTS_TABLE: ${self:custom.environment.CLIENTS_TABLE_NAME}
    iamRoleStatementsInherit: true
    iamRoleStatements:
      - Effect: Allow
        Action:
          - dynamodb:UpdateItem
        Resource:
          - !GetAtt ClientsTable.Arn
  CreateGift:
    handler: src/gift/handler/create-gift.handler
    name: ${self:service}-${self:provider.stage}-create-gift-function
    events:
      - sqs:
          arn: !GetAtt CreateGiftQueue.Arn
    environment:
      CLIENTS_TABLE: ${self:custom.environment.CLIENTS_TABLE_NAME}
    iamRoleStatementsInherit: true
    iamRoleStatements:
      - Effect: Allow
        Action:
          - dynamodb:UpdateItem
        Resource:
          - !GetAtt ClientsTable.Arn
  UpdateCard:
    handler: src/card/handler/update-card.handler
    name: ${self:service}-${self:provider.stage}-update-card-function
    events:
      - sqs:
          arn: !GetAtt UpdateCardQueue.Arn
    environment:
      CLIENTS_TABLE: ${self:custom.environment.CLIENTS_TABLE_NAME}
    iamRoleStatementsInherit: true
    iamRoleStatements:
      - Effect: Allow
        Action:
          - dynamodb:UpdateItem
        Resource:
          - !GetAtt ClientsTable.Arn
  UpdateGift:
    handler: src/gift/handler/update-gift.handler
    name: ${self:service}-${self:provider.stage}-update-gift-function
    events:
      - sqs:
          arn: !GetAtt UpdateGiftQueue.Arn
    environment:
      CLIENTS_TABLE: ${self:custom.environment.CLIENTS_TABLE_NAME}
    iamRoleStatementsInherit: true
    iamRoleStatements:
      - Effect: Allow
        Action:
          - dynamodb:UpdateItem
        Resource:
          - !GetAtt ClientsTable.Arn

resources:
  Resources:
    ClientsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.environment.CLIENTS_TABLE_NAME}
        AttributeDefinitions:
          - AttributeName: dni
            AttributeType: S
        KeySchema:
          - AttributeName: dni
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
    ClientCreatedTopic:
      Type: AWS::SNS::Topic
      Properties:
        DisplayName: Client Created Topic
        TopicName: ${self:service}-${self:provider.stage}-client-created-topic
        Subscription:
          - Protocol: sqs
            Endpoint: !GetAtt CreateCardQueue.Arn
          - Protocol: sqs
            Endpoint: !GetAtt CreateGiftQueue.Arn
    ClientUpdatedTopic:
      Type: AWS::SNS::Topic
      Properties:
        DisplayName: Client Updated Topic
        TopicName: ${self:service}-${self:provider.stage}-client-updated-topic
        Subscription:
          - Protocol: sqs
            Endpoint: !GetAtt UpdateCardQueue.Arn
          - Protocol: sqs
            Endpoint: !GetAtt UpdateGiftQueue.Arn
    CreateCardQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: ${self:service}-${self:provider.stage}-create-card-queue
    UpdateCardQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: ${self:service}-${self:provider.stage}-update-card-queue
    CreateCardQueuePolicy:
      Type: AWS::SQS::QueuePolicy
      Properties:
        PolicyDocument:
          Statement:
            - Effect: Allow
              Action:
                - SQS:*
              Resource: !GetAtt CreateCardQueue.Arn
              Principal:
                AWS:
                  - !Ref AWS::AccountId
            - Effect: Allow
              Principal:
                AWS:
                  - '*'
              Action:
                - SQS:SendMessage
              Resource: !GetAtt CreateCardQueue.Arn
              Condition:
                ArnLike:
                  aws:SourceArn:
                    - !Ref ClientCreatedTopic
        Queues:
          - !Ref CreateCardQueue
    UpdateCardQueuePolicy:
      Type: AWS::SQS::QueuePolicy
      Properties:
        PolicyDocument:
          Statement:
            - Effect: Allow
              Action:
                - SQS:*
              Resource: !GetAtt UpdateCardQueue.Arn
              Principal:
                AWS:
                  - !Ref AWS::AccountId
            - Effect: Allow
              Principal:
                AWS:
                  - '*'
              Action:
                - SQS:SendMessage
              Resource: !GetAtt UpdateCardQueue.Arn
              Condition:
                ArnLike:
                  aws:SourceArn:
                    - !Ref ClientUpdatedTopic
        Queues:
          - !Ref UpdateCardQueue
    CreateGiftQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: ${self:service}-${self:provider.stage}-create-gift-queue
    UpdateGiftQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: ${self:service}-${self:provider.stage}-update-gift-queue
    CreateGiftQueuePolicy:
      Type: AWS::SQS::QueuePolicy
      Properties:
        PolicyDocument:
          Statement:
            - Effect: Allow
              Action:
                - SQS:*
              Resource: !GetAtt CreateGiftQueue.Arn
              Principal:
                AWS:
                  - !Ref AWS::AccountId
            - Effect: Allow
              Principal:
                AWS:
                  - '*'
              Action:
                - SQS:SendMessage
              Resource: !GetAtt CreateGiftQueue.Arn
              Condition:
                ArnLike:
                  aws:SourceArn:
                    - !Ref ClientCreatedTopic
        Queues:
          - !Ref CreateGiftQueue
    UpdateGiftQueuePolicy:
      Type: AWS::SQS::QueuePolicy
      Properties:
        PolicyDocument:
          Statement:
            - Effect: Allow
              Action:
                - SQS:*
              Resource: !GetAtt UpdateGiftQueue.Arn
              Principal:
                AWS:
                  - !Ref AWS::AccountId
            - Effect: Allow
              Principal:
                AWS:
                  - '*'
              Action:
                - SQS:SendMessage
              Resource: !GetAtt UpdateGiftQueue.Arn
              Condition:
                ArnLike:
                  aws:SourceArn:
                    - !Ref ClientUpdatedTopic
        Queues:
          - !Ref UpdateGiftQueue
